<form method="post" action="{{ path('app_task_delete', {'id': task.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette tâche ?');" class="flex justify-center items-center p-2 text-white font-bold text-md bg-red-700 hover:bg-red-100 hover:text-red-700">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn hover:cursor-pointer">SUPPRIMER</button>
</form>
